.box_1 {
    background-color: green;
    color:black;
    padding: 1rem;
}

.box_2 {
    background-color: yellow;
    color: black;
    padding: 1rem;
}

@media screen and (min-width:1080px) {
.container{
    display: flex;
}
.box_1 {
    background-color: darkblue;
}
}
